{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.png)}}
{{!include(logo.png)}}
{{!include(dark-theme-icon.png)}}
{{!include(light-theme-icon.png)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
	{{>partials/head}}
	<body data-spy="scroll" data-target="#affix" data-offset="120">
		<div id="wrapper">
			<header>
				{{^_disableNavbar}}
					{{>partials/navbar}}
				{{/_disableNavbar}}
				{{^_disableBreadcrumb}}
					{{>partials/breadcrumb}}
				{{/_disableBreadcrumb}}
			</header>
			<div class="fake-header"></div>
			{{#_enableSearch}}
				<div class="body-content">
					{{>partials/searchResults}}
				</div>
			{{/_enableSearch}}
			<div role="main" class="hide-when-search">
				{{^_disableToc}}
					{{>partials/toc}}
				{{/_disableToc}}
				<article class="content wrap" id="_content" data-uid="{{uid}}">
					{{!body}}
				</article>
				{{^_disableAffix}}
					{{>partials/affix}}
				{{/_disableAffix}}
			</div>
		</div>
		<div class="fake-base"></div>
			{{^_disableFooter}}
				{{>partials/footer}}
			{{/_disableFooter}}
		</div>
		{{>partials/scripts}}
	</body>
</html>
