{% comment -%}Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.{% endcomment -%}
<nav class="navbar navbar-light navbar-expand bg-light">
      {% include partials/logo -%}

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"  aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbar">
		<form class="form-inline" role="search" id="search">
			<input type="text" class="form-control" id="search-query" placeholder="Search" autocomplete="off">
		</form>
	</div>
  </div>
</nav>
